@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root{
    --rojoOscuro: #af161e;
    --rojo: #c8091b;
    --gris: #323437;
    --grisClaro: #d3d3d3;
    --naranja: #ea3e10;
    --negro: #000000;
    --blanco: #FFFFFF;
    --fuenteTitulos: 'Roboto Slab', sans-serif;
    --funteParrafos: 'Roboto', sans-serif;
}

/* Globales */
* {
    padding: 0rem;
    margin: 0rem;
}

html{
    font-size: 6.25%; /*1rem = 1px*/
    box-sizing: border-box;
    background-color: var(--grisClaro);
}

body{
    font-family: var(--funteParrafos);
}

h1,h2,h3,h4{
    font-family: var(--fuenteTitulos);
}

h1{
    font-size: 25rem;
}

h2{
    font-size: 38rem;
}

h3{
    font-size: 28rem;
}

h4{
    font-size: 12rem;
}

p{
    font-size: 15rem;
    line-height: 18rem;
}

/* Utilidades */

.contenedor__centrado{
    max-width: 1500rem;
    width: 93%;
    margin: 0 auto;
}

/* Header  Inicio */
.header__inicio {                                               
    background: url("../img/all_tools_red_out-focus.webp") no-repeat;
    background-position: top center;
    background-size: cover;
    height: 700rem; 
}

.header__texto{
    color: var(--blanco);
    text-align: center;
    position: absolute;
    top: 250rem;
    right: 30%;
}

/* Header Blog */
.header__blog{
    background-color: var(--naranja);
    height: 400rem;
}

/* Navegacion */
/* .navegacion{
    background-color: var(--blanco);
    position: sticky;
} */

.navegacion__enlace{
    margin-top: 35rem;
    float: right;
    color: var(--blanco);
    font-size: 15rem;
    padding: 20rem;
    text-decoration: none;
}


.logo{
    float: left;
    margin-top: 2rem;
    color: var(--blanco);
    margin-top: 35rem;
    text-decoration: none;
}

.logo__nombre{
    font-weight: normal;
}

.logo__bold{
    font-weight: bold;
}

/* Servicios */
.servicios{
    background-color: var(--blanco);
    padding: 25rem;
    border-radius: 5rem;
    margin-top: -70rem;
    /* margin-bottom: 15rem; */
    box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.81);
}

.servicios__titulo{
    text-align: center;
}

/* Proyectos */
table, tr, td{
    margin-top: 10rem;
    font-size: 15rem;
    border: 1rem solid var(--negro);
    border-collapse: collapse;
    text-align: center;
    caption-side: bottom;
}


tr:nth-child(2n+1){
    background-color: var(--blanco);
}
tr:nth-child(2n){
    background-color: var(--gris);
}
tr:first-child{
    background-color: var(--naranja);
}

.redes-logo{
    width: 40rem;
    height: 40rem;
}

/* Contactos */
.formulario{
    max-width: 500rem;
}


/* Footer */
footer{
    color: var(--blanco);
    background-color: var(--gris);
    position: relative;
    bottom: 0rem;
}

.footer p {
    text-align: center;
}